@import "reset";
@import "variables";
@import "mixin";
@import "fonts";
@import "header";
@import "section-app";
@import "section-revolutionary";
@import "section-here";
@import "section-people-talking";
@import "section-subscription";



a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  @include displayFlex(flex-start, center, column);
  @include fontStyle($fs-xs, 400, 1, $main-text-color, start, none,'Montserrat');
  font-family: "Montserrat", sans-serif;

}

